<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Charset / Viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- (SEO) Title / Author / Description / Keywords / Copyright -->
    <title>{{ title }}</title>
    <meta name="author" content="Mathias Camus">
    <meta name="description" content="A tech blog about scripts, setups, overclocking, lots of guides and games to play!">
    <meta name="keywords" content="web development, scripts, guides, games">
    <meta name="copyright" content="iMath is a registered trademark">

    <!-- Canonical / Alternate -->
    <link rel="canonical" href="http://www.imath.tech">
    <!-- <link rel="alternate" type="application/rss+xml" title="Prodity Home" href=""> -->

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon/favicon.png" />
    <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png" />
    <link rel="icon" href="/assets/img/favicon/android-favicon.png">

    <!-- Css start -->
    <!-- Font Awesome css -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'/>
    <!-- Swiper.js css -->
    <!-- Google Fonts css -->

    <!-- custom css -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="{{ style }}">
    <!-- Css End -->

    <!-- scripts -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="{{ headerScript }}"></script>
    <!-- end scripts -->
</head>
<body>
    <header id="header">
        <nav>
            <a href="/" id="home">Home</a>
            <div class="dropdown">
                <p class="dropbtn" id="guides">Guides <i class="fa fa-caret-down"></i></p>
                <div class="dropdown-content">
                    <a href="/guides/backupscript" class="dropdownDiv">Backup script</a>
                </div>
            </div>
            <div class="dropdown">
                <p class="dropbtn" id="projects">Projects <i class="fa fa-caret-down"></i></p>
                <div class="dropdown-content">
                    <a href="#" class="dropdownDiv">Smart mirror <br> (coming soon)</a>
                </div>
            </div>
            <div class="dropdown">
                <p class="dropbtn" id="games">Games <i class="fa fa-caret-down"></i></p>
                <div class="dropdown-content">
                    <a href="/games/brickbreaker" class="dropdownDiv">Brickbreaker</a>
                </div>
            </div>
            <div class="dropdown">
                <p class="dropbtn" id="javascript">Javascript <i class="fa fa-caret-down"></i></p>
                <div class="dropdown-content">
                    <a href="/javascript/rain" class="dropdownDiv">Rain</a>
                </div>
            </div>
            <div class="dropdown">
                <p class="dropbtn" id="info">Info <i class="fa fa-caret-down"></i></p>
                <div class="dropdown-content">
                    <a href="/info/generalinfo" class="dropdownDiv">General info</a>
                    <a href="/info/setup" class="dropdownDiv">My setup</a>
                </div>
            </div>
        </nav>
        <div class="logo">
            <img src="{{ logo }}" alt="logo" id="logo">
        </div>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <div class="wrapper content">
            <p>&copy; iMatch.tech, all rights reserved!</p>
        </div>
    </footer>
</body>
</html>