@import "partials/global";

.welcome {
    padding-top: 10rem;
    height: 89.3vh;
    background: linear-gradient($black, $darkblue);

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        
        h1 {
            color: $white;
        }
        
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .text {
                width: 50%;

                h2 {
                    color: $white;
                }

                p {
                    color: $white;
                    margin-bottom: 2rem;
                    text-align: justify;
                }

                a {
                    color: $white;

                    &:hover {
                        color: $lightblue;
                    }
                }
            }

            .img {
                img {
                    width: 45rem;
                }
            }
        }
    }
}