@import "partials/global";

.focus {
    padding-top: 10rem;
    height: 70vh;
    background: linear-gradient($black, $darkblue);

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;


        h1, h2 {
            color: $white;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .text {
                width: 50%;

                h2 {
                    color: $white;
                }

                p {
                    color: $white;
                    margin-bottom: 2rem;
                }
            }

            .img {
                img {
                    width: 65rem;
                }
            }
        }
    }
}

.swiper-container {
    width: 100%;
    height: 55rem;
    padding-bottom: 2rem;
    background-color: $grey;

    h2 {
        text-align: center;
        margin-top: 3rem;
    }

    .swiper-wrapper {
        height: 80%;

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: $grey;

            img {
                max-height: 40rem;
                border-radius: 2rem;
            }
        }
    }
}

.table {
    table {
        tr {
            line-height: 3.5rem;
        }

        tr th {
            text-align: left;
            color: $black;
        }

        tr td {
            color: $black;

            a {
                text-decoration: none;
                color: $black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .one {
            width: 20rem;
            font-weight: bold;
        }
    }
}

.section {
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &:nth-child(even){
        background-color: $grey;
    }

    &.mainSystem .img { 
        width: 50%;
        
        img {
            width: 60rem;
        }
    }

    &.customization { 
        
        .img {
            width: 50%;

            img {
                width: 40rem;
            }
        }

        .table {
            width: 50%;
        }
    }

    &.peripherals .img { 
        width: 50%;

        img {
            width: 40rem;
        }
    }
}